<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/static.css">
        <script src="/static/script.js" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <img src="/static/images/MoTUS.png">
        <div id="header">
            <a href="/settings">
             <img src="/static/images/settings.png" >
            </a>
          </div>
        <div id='navbar'>
          <nav class="navbar">
            <ul>
             <li>
              <a href="/user_info">
              <img src="/static/images/home1.png" >
              </a>
             </li>
             <a href="/add_rides" methods=''>
             <li>
              <img src="/static/images/plan_route.png">
             </li>
            </a>
            <a href="/show_rides">
             <li>
              <img src="/static/images/rides.png">
             </li>
             </a>
            </ul>
           </nav>
        </div>
    {% block main %}
    {% endblock %}
    </body>
    <footer> © Copyright Magdalena Robinson 2022</footer>
</html>