<body>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/static.css">
    <script src="/static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<img src="/static/images/MoTUS.png">
    <div>
        <h1>Log in </h1>
        <div>
            <form action="/login" method="POST">
                Email:   <br> <input type="text" name="email"><br><br>
                Password:<br> <input type="password" name="password"><br>
                <br><input type="submit" value="Log in">
            </form>
        </div>
        <h1>Sign up</h1>
        <div>
            <form action="/sign_up" method="POST">
                Username:<br> <input type="text" name="username"><br><br>
                Email:   <br> <input type="text" name="email"><br><br>
                Password:<br> <input type="password" name="password"><br>
                <br><input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</body>