{% extends 'base.html' %}

{% block main %}
<div id="main" class="settings">
  <h1>Settings</h1>

  <div id="second">
   <a href="/log_out"> 
    <img id="log_out" src="/static/images/log-out.png"> 
   </a>
   <p>This button will log you out</p>
  </div>

  <div id="second">
    <a href="/user_info">
  <img src="/static/images/home1.png">
    </a>
    <p id='set'>This button will take you to your
      home page where you can see your username and add your avatar</p>
  </div>

  <div id="second">
  <img src="/static/images/plan_route.png" id='settings'>
    <p id='set'> This button will let you addd and plan your new rides</p>
  </div>

  <div id="second">
  <img src="/static/images/rides.png" id='settings'>
    <p id='set'> This button will take you to your list of rides where you can delete and update them</p>
  </div id="second" >
  
    <button id='darkmode'>Dark Mode</button>
</div>
{% endblock %}
  
