{% extends 'base.html' %}

{% block main %}
  <div>
  <h1>Your Rides</h1>
  <div class="ride" >
  {% for ride_id,owner_id,ride_description,ride_start,ride_end in rides %}
    {{ride_description}} 
   
    <br>
    <br>
    <img id='map'src="https://dev.virtualearth.net/REST/V1/Imagery/Map/AerialWithLabels/Routes?wp.0={{ride_start}}&wp.1={{ride_end}}&key={{KEY}}">
    <br>
    <br>
    <button type="button">
      <a href="/delete/{{ride_id}}">Delete Ride</a>
    </button>

    </div>
  
  {%endfor%}
  </div>
{% endblock %}

